header{
    background-color:rgb(231, 4, 144);
    padding: 30px;
}
header h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    color: rgb(248, 244, 244);
}
h1{
    color: orangered;
    text-align: left;
}
    h2{
        color: rgb(9, 82, 13);
    }
    button{
        border: none;
        padding: 12px;
        color: rgb(247, 245, 245);
        cursor: pointer;
        background-color: black;
        font-size: 20px;
    }
    p.button.hover{
        background-color: blue;
    }
    input{
        font-family: cursive;
    }
    
